<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Internal (secondary) value streams</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Internal (secondary) value streams</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1ef118bd9a514c6eba4a0cc22b38bbf4.png" alt="Internal (secondary) value streams" usemap="#id-1ef118bd9a514c6eba4a0cc22b38bbf4map"/>
			   <map name="id-1ef118bd9a514c6eba4a0cc22b38bbf4map">
				  		<area shape="rect" coords="10,824,227,957" href="../elements/id-e7276bf4df624fa5bc7cf111a683cef0.html"  target="element">
				  		<area shape="rect" coords="10,704,227,801" href="../elements/id-ef3670ca02e94c8c887cb9fa4277c610.html"  target="element">
				  		<area shape="rect" coords="10,572,227,669" href="../elements/id-0d966f65aa904e55b999de619abf733f.html"  target="element">
				  		<area shape="rect" coords="10,404,227,537" href="../elements/id-90c5c78ab2a249fd85dad8db85582025.html"  target="element">
				  		<area shape="rect" coords="10,272,227,381" href="../elements/id-3af5e46ed2d240748d8fde6f64c95247.html"  target="element">
				  		<area shape="rect" coords="10,152,227,237" href="../elements/id-82cdad3aba85465cb0719b489db120c8.html"  target="element">
				  		<area shape="rect" coords="10,10,227,117" href="../elements/id-8c3ced6d248f4c8b9ab1c1eee5e6e410.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8c3ced6d248f4c8b9ab1c1eee5e6e410.html" target="element"> Determine and monitor strategy and plans </a> </td>
											    <td> <a href="../elements/id-8c3ced6d248f4c8b9ab1c1eee5e6e410.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-82cdad3aba85465cb0719b489db120c8.html" target="element"> Change business resources </a> </td>
											    <td> <a href="../elements/id-82cdad3aba85465cb0719b489db120c8.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3af5e46ed2d240748d8fde6f64c95247.html" target="element"> Ensure business continuity and compliance </a> </td>
											    <td> <a href="../elements/id-3af5e46ed2d240748d8fde6f64c95247.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-90c5c78ab2a249fd85dad8db85582025.html" target="element"> Getting and keeping employees employable </a> </td>
											    <td> <a href="../elements/id-90c5c78ab2a249fd85dad8db85582025.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0d966f65aa904e55b999de619abf733f.html" target="element"> Providing information </a> </td>
											    <td> <a href="../elements/id-0d966f65aa904e55b999de619abf733f.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ef3670ca02e94c8c887cb9fa4277c610.html" target="element"> Making goods and services available </a> </td>
											    <td> <a href="../elements/id-ef3670ca02e94c8c887cb9fa4277c610.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e7276bf4df624fa5bc7cf111a683cef0.html" target="element"> Making financial assets and information available </a> </td>
											    <td> <a href="../elements/id-e7276bf4df624fa5bc7cf111a683cef0.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>