<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>External (primary) value streams</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>External (primary) value streams</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-90591b95894f4e899e4313b89515a2ef.png" alt="External (primary) value streams" usemap="#id-90591b95894f4e899e4313b89515a2efmap"/>
			   <map name="id-90591b95894f4e899e4313b89515a2efmap">
				  		<area shape="rect" coords="10,947,272,1056" href="../elements/id-cfd78dbd9b2e4580a6ed8fbfe1c3551a.html"  target="element">
				  		<area shape="rect" coords="14,827,272,924" href="../elements/id-cae8bd2b2a734ed9912c98b0bc10fde2.html"  target="element">
				  		<area shape="rect" coords="14,731,272,816" href="../elements/id-7064fb9a18044b0498bd7cbf355d706a.html"  target="element">
				  		<area shape="rect" coords="14,611,272,708" href="../elements/id-44d1e41023584a8fb8039c7b82798634.html"  target="element">
				  		<area shape="rect" coords="10,491,272,588" href="../elements/id-179a7ced53834a3bbc74262b0ca4ae72.html"  target="element">
				  		<area shape="rect" coords="10,371,272,468" href="../elements/id-bddee469d7a34ebdbac4a07104278100.html"  target="element">
				  		<area shape="rect" coords="10,263,272,348" href="../elements/id-ab65dea43eef4fc5a70b79f16b775b14.html"  target="element">
				  		<area shape="rect" coords="10,143,272,240" href="../elements/id-86384ae70387455e9d4d523131f58a27.html"  target="element">
				  		<area shape="rect" coords="10,10,272,120" href="../elements/id-865f3bf04f86476cbe2c18636520cd2c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-865f3bf04f86476cbe2c18636520cd2c.html" target="element"> Agree, connect and disconnect energy users </a> </td>
											    <td> <a href="../elements/id-865f3bf04f86476cbe2c18636520cd2c.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-86384ae70387455e9d4d523131f58a27.html" target="element"> Reconstruct energy grids </a> </td>
											    <td> <a href="../elements/id-86384ae70387455e9d4d523131f58a27.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ab65dea43eef4fc5a70b79f16b775b14.html" target="element"> Adjust energy grid plan driven </a> </td>
											    <td> <a href="../elements/id-ab65dea43eef4fc5a70b79f16b775b14.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bddee469d7a34ebdbac4a07104278100.html" target="element"> Maintain energy grids (maintenance) </a> </td>
											    <td> <a href="../elements/id-bddee469d7a34ebdbac4a07104278100.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-179a7ced53834a3bbc74262b0ca4ae72.html" target="element"> Maintain&#160;energy&#160;grids&#160;(disturbance recovery) </a> </td>
											    <td> <a href="../elements/id-179a7ced53834a3bbc74262b0ca4ae72.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-44d1e41023584a8fb8039c7b82798634.html" target="element"> Manage available energy grid capacity (future) </a> </td>
											    <td> <a href="../elements/id-44d1e41023584a8fb8039c7b82798634.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7064fb9a18044b0498bd7cbf355d706a.html" target="element"> Transport energy (now) </a> </td>
											    <td> <a href="../elements/id-7064fb9a18044b0498bd7cbf355d706a.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cae8bd2b2a734ed9912c98b0bc10fde2.html" target="element"> Allocate energy exchange to market parties </a> </td>
											    <td> <a href="../elements/id-cae8bd2b2a734ed9912c98b0bc10fde2.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cfd78dbd9b2e4580a6ed8fbfe1c3551a.html" target="element"> Distribute&#160;grid&#160;operator data </a> </td>
											    <td> <a href="../elements/id-cfd78dbd9b2e4580a6ed8fbfe1c3551a.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>